@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: "Roboto", "Kalam", sans-serif;
  letter-spacing: 0.03em;
  color: #2C2C2C;
}

img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.nav__link {
  text-decoration: none;
}

.secondary-content__list, .nav__list {
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    width: 1280px;
  }
}

.sbscr-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 60px;
}

.sbscr__btn {
  margin-left: auto;
}

.sbscr-form__input {
  display: block;
  width: 100%;
  min-height: 42px;
  padding-left: 12px;
  margin: 0 auto;
  background: #FFFFFF;
  border: 0.854167px solid #FFE550;
  border-radius: 30px;
  outline: transparent;
}
.sbscr-form__input:hover, .sbscr-form__input:focus-within {
  border-color: #FFE550;
}

.sbscr__btn {
  padding: 11px 22px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5384615385;
}

.sbscr-form__text {
  font-size: 10px;
  line-height: 1.2;
}

.sbscr-form__link {
  color: #7EB101;
}

.nav {
  display: flex;
}

.nav__list {
  display: flex;
  list-style: none;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .nav__list {
    flex-direction: row;
    gap: 28px;
  }
}

.nav__link {
  color: #000000;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .nav__link {
    height: auto;
    width: auto;
    padding: 0px;
  }
}
@media screen and (min-width: 768px) {
  .nav__link:hover, .nav__link:focus {
    background-color: white;
    color: #BBF330;
    text-decoration: underline;
  }
}

.ftr {
  padding: 60px 0;
}
@media screen and (max-width: 767px) {
  .ftr {
    background-image: url(/src/images/footer/apple-left-mb@1x.png), url(/src/images/footer/orange-right-mb@1x.png), url(/src/images/footer/apple-banana-bottom-mb@1x.png);
    background-repeat: no-repeat;
    background-position: top 132px left 0, top 0 right 0, bottom 0 left 40px;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .ftr {
    background-image: url(/src/images/footer/apple-left-mb@2x.png), url(/src/images/footer/orange-right-mb@2x.png), url(/src/images/footer/apple-banana-bottom-mb@2x.png);
    background-size: 110px, 104px, 253px;
  }
}
@media screen and (min-width: 768px) {
  .ftr {
    padding: 100px 0;
  }
}

.ftr__mobile-wrap {
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .ftr__mobile-wrap {
    display: flex;
    gap: calc(100% - 216px);
  }
}

.ftr__nav {
  padding-top: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
}

.ftr__list {
  gap: 20px;
}

.ftr__link:hover, .ftr__link:focus {
  color: #BBF330;
}

.ftr__claim {
  display: block;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.ftr__btn {
  background-color: #ffffff;
  border: 0.854167px solid #7EB101;
}
.ftr__btn:hover, .ftr__btn :focus {
  background-color: #FFE550;
}

.secondary-content__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.secondary-content__item {
  font-size: 10px;
  line-height: 1.2;
}

.secondary-content__link {
  color: #7EB101;
}

.secondary-content__text {
  display: block;
  text-align: center;
  font-size: 10px;
  line-height: 1.2;
}/*# sourceMappingURL=index.css.map */