// Colors
$Primary-yellow-main: #FFE550;
$Button-green: #BBF330;
$Green-text: #7EB101;
$Black-text: #2C2C2C;
$White: #FEFEFE;
$Radial-gradient: #2F583F;
$Dark-grey-text: #696969;
$Placeholder-text: #505050;
$Additional-text-black: #000000;
$Background-cl: #F5F5F5;
$Pink-cl-eror: #FF705D;
$Additional-border-cl: #597D00;

// // Fonts
// $Mainfont: 'Roboto', sans-serif;
// $Secondaryfont: 'Kalam', sans-serif;

// Facturre points
$mobile: 480px;
$tablet: 768px;
$desctop: 1280px;

// Cubic
$cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);

