// Colors

$Primary-yellow-main: #ffe550;
$Button-green: #bbf330;
$Button-light-green: #b5ff00;
$Green-text: #7eb101;
$Black-text: #2c2c2c;
$White: #fefefe;
$Radial-gradient: #2f583f;

$Dark-grey-text: #696969;
$Placeholder-text: #505050;
$Additional-text-black: #000000;
$Background-cl: #f5f5f5;
$Pink-cl-eror: #ff705d;
$Additional-border-cl: #597d00;

// Facturre points
$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;

// Cubic
$cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// Order
$items: 3;
$indent: 20px;
