// Colors
$Primary-yellow-main: #ffe550;
$Button-green: #bbf330;
$Green-text: #7eb101;
$Black-text: #2c2c2c;
$White: #fefefe;
$Radial-gradient: #2f583f;
$Dark-grey-text: #696969;
$Placeholder-text: #505050;
$Additional-text-black: #000000;
$Background-cl: #f5f5f5;
$Pink-cl-eror: #ff705d;
$Additional-border-cl: #597d00;

// // Fonts
// $Mainfont: 'Roboto', sans-serif;
// $Secondaryfont: 'Kalam', sans-serif;

// Facturre points
$mobile: 480px;
$tablet: 768px;
$desctop: 1200px;

// Cubic
$cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
