.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobile) {
   max-width: 480px;
  }
  @media screen and (min-width: $tablet) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and (min-width: $desctop) {
    padding-left: 16px;
    padding-right: 16px;
    width: 1280px;
  }
}