.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  min-height: 520px;
  @media screen and (min-width: 480px) {
    min-width: 500px;
    min-height: 720px;
}

  background-color: $Primary-yellow-main;
  border-radius: 30px;
  z-index: 100;


  visibility: visible;
  opacity: 1;
  pointer-events: initial;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 200ms;

  margin-top: 30px;
}

.modal-overlay.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 200ms,
  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 200ms;

  height: 100%;
  width: 100%;

  padding: 40px;
}

.modal-btn--close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $White;
  z-index: 200;
}

.modal-overlay.is-hidden .modal-container {
  opacity: 1;
  transform: translate(-50%, -50%) scale(0.3) rotate(360deg);
}

.modal-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
}

.modal__list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: $indent;
}

.modal-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - ($indent) * (($items) - 1)) / ($items));
}

.menu-container {
  position: relative;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(18 / 16);
  margin-bottom: 10px;
}

.modal_img {
  border-radius: 50%;
  background-color: $Background-cl;
  border: 6px solid $Green-text;
  transform: rotate(360deg);
}

.price-container {
  position: absolute;
  bottom: 25px;
  right: 0;
}

.price-span {
  position: absolute;
  bottom: 12px;
  right: 22px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);

}

.modal-form__checkbox {
  position: absolute;
  top: 25;
  right: 10px;
}

.modal-form__input--checkbox {
  position: absolute;
  top: 0;
  right: 0px;
}

.modal-form__checkbox:checked
  + .modal-form__input--checkbox
  .modal-form__icon--uncheck {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__icon--check {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input--checkbox:checked
  + .modal-form__icon--checkbox
  .modal-form__icon--check {
  opacity: 1;
}

.modal-text {
  width: 50px;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  border: 2px solid $Button-green;
  margin-top: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: transparent;
  transform: translateX(37px);
}

.modal-button {
  display: flex;
}
