.nav {
  display: flex;
}

.nav__list {
  @extend %list;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 28px;
  }
}


.nav__link {
  position: relative;;
  display: inline-flex;
  @extend %link;
  color: $Additional-text-black;
  cursor: pointer;
  transition: color $cubic;

  @media screen and (min-width: 768px) {
      height: auto;
      width: auto;
      padding: 0px;
  }

  &:hover,
  &:focus {
      color: $Button-green;
      // text-decoration: underline;
  }
}

.nav__link::after {
  border-bottom: solid $Button-green 1px;
  content: "";
  opacity: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  transition: opacity $cubic;
}

.nav__link:hover::after,
.nav__link:focus::after {
  opacity: 1;
}

.nav__link--modal {
  font-size: 16px;
  line-height: calc(19/16);
  background-color: inherit;
  transition: background-color $cubic;

  &:hover,
  &:focus {
      background-color: $Button-green;
      color: $Black-text;
      text-decoration: none;
  }

}