.nav {
    display: flex;
}

.nav__list {
    list-style: none;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        gap: 28px;
    }

}


.nav__link {
    display: inline-flex;
    color: inherit;
    text-decoration: none;
    color: $Black-text;
    height: 50px;
    width: 130px;
    padding: 16px 10px 16px 16px;

    @media screen and (min-width: 768px) {
        height: auto;
        width: auto;
        padding: 0px;
    }

    &:hover,
    &:focus {
        background-color: $Button-green;

        @media screen and (min-width: 768px) {
            background-color: white;
            color: $Button-green;
            text-decoration: underline;
        }

    }

}