.sbscr-form{
    display: flex;
    flex-direction: column;
    // gap: 12px;

    margin-bottom: 60px;
}

.sbscr-form__input{
    display: block;
    width: 100%;
    min-height: 42px;
    padding-left: 12px;

    background: #FFFFFF;
    border: 0.854167px solid $Primary-yellow-main;
    border-radius: 30px;

    outline: transparent;

    &:hover, &:focus-within{
        border-color: $Primary-yellow-main;
    }

    @media screen and (max-width: 767px) {
        margin: 0 auto;
    }
}


.sbscr__btn{
    padding: 10px 21px;
    margin-left: auto;
    border-radius: 30px;

    font-weight: 500;
    font-size: 13px;
    line-height: calc(20 / 13);
}

.sbscr-form__text{
    font-size: 10px;
    line-height: calc(12 / 10);

    @media screen and (min-width: $tablet) {
        font-size: 12px;
        line-height: calc(14 / 12);
    }
}

.sbscr-form__link{
    color: $Green-text;
}




