.favorites {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-bottom: 100px;
    padding-top: 100px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 100px;
    padding-top: 100px;
  }

  &__title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;

    @media screen and (min-width: 1280px) {
      font-size: 42px;
      line-height: 1.17;
    }
  }

  &__text {
    margin-bottom: 60px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.19;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 40px;
    }
  }

  &__list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $indent;
    @media screen and (min-width: 768px) {
      $indent: 32px;
      gap: $indent;
    }
  }

  &__item {
    $indent: 32px;

    &:nth-child(n + 4) {
      display: none;
    }

    @media screen and (min-width: 768px) {
      $items: 2;
      width: calc((100% - ($indent) * (($items) - 1)) / ($items));

      &:nth-child(n + 4) {
        display: block;
      }
    }

    @media screen and (min-width: 1280px) {
      width: calc((100% - ($indent) * (($items) - 1)) / ($items));
    }
  }

  &__link {
    @extend %link;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 282px;

    background-color: $White;

    border: 11px solid $Primary-yellow-main;
    border-radius: 139.658px;
    transition: border $cubic, color $cubic;

    &:hover,
    &:focus {
      border: 11px solid $Button-green;

      @media screen and (min-width: 768px) {
        border: 14px solid $Button-green;
      }

      @media screen and (min-width: 1280px) {
        border: 16px solid $Button-green;
      }
    }
    @media screen and (min-width: 768px) {
      width: 336px;
      height: 338px;
      border: 14px solid $Primary-yellow-main;
      border-radius: 167.166px;
    }
    @media screen and (min-width: 1280px) {
      width: 395px;
      height: 397px;
      border: 16px solid $Primary-yellow-main;
      border-radius: 197.5px;
    }
  }

  &__photo {
    width: 224px;
    height: 224px;
    border-radius: 116.323px;
    @media screen and (min-width: 768px) {
      width: 268px;
      height: 268px;
      border-radius: 139.588px;
    }
    @media screen and (min-width: 1280px) {
      width: 315px;
      height: 315px;
      border-radius: 164.5px;
    }
  }
}
