body{
    padding-top: 72px;
}

.header{
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    background: $White;
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
    position: fixed;
    z-index: 3;
    top: 0px;
}

.header__conteiner{
    display: flex;
    align-items: center;
    width: 100%;
    height: 72px;

    @media screen and (min-width: 480px)  {
        width: 480px;
    }

    @media screen and (min-width: 768px)  {
        width: 768px;
    }

    @media screen and (min-width: 1280px)  {
        width: 1280px;
    }
}

// .header__logo {
//     display: inline-flex;
//      width: 66px;
//      height: 52px;
//     stroke-width: 0;
//     stroke: currentColor;
//     fill: currentColor;
//     margin-right: auto;
// }


// Блок навігаціі
// .nav{
//     display: flex;
// }

// .nav__list{
//     display: flex;
//     padding: 0px;
//     list-style: none;
//     flex-direction: column;

//     @media screen and (min-width: 768px)  {
//         flex-direction: row;
//         gap: 28px;
//     }

// }

// .nav__item{
//     display: flex;
// }


// .nav__link{
//     display: inline-flex ;
//     text-decoration: none;
//     color: $Black-text;


//     font-size: 14px;
//     line-height: calc(16 / 14);

//         @media screen and (min-width: 768px) {
//             height: auto;
//             width: auto;
//             padding: 0px;
//         }

//     transition: color $cubic, text-decoration $cubic ;
//     &:hover,
//     &:focus{
//             color: $Button-green;
//             text-decoration: underline;
//     }

// }

.nav__link--modal{
    height: 50px;
    width: 130px;
    padding: 16px 10px 16px 16px;
    font-size: 16px;
    line-height: calc(19/16);
    background-color: inherit;
    transition: background-color $cubic;

    &:hover,
    &:focus{
            background-color: $Button-green;
            color: $Black-text;
            text-decoration: none;
    }

}

.btn-order--header{

            margin-left: 28px;
            width: 100px;
            height: 32px;
            justify-content: center;
            align-items: center;
}

.hide__nav-mobile {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
    }

}

// Бургер меню

.burger{
    display: inline-flex;
    fill: green;

    @media screen and (min-width: 768px) {
            display: none;
        }

    transition: fill $cubic;
    &:hover,
    &:focus{
        fill: yellow;
    }
}

.burger__icon{
    width: 28px;
    height: 28px;
    fill: inherit;
}


.overlay {

    /* Скрываем подложку  */
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    transition: $cubic all;
}

/* Стили для модальных окон */

.modal {

    /* Скрываем окна  */
    opacity: 0;
    visibility: hidden;

    /*  Центрируем и задаем z-index */
    position: fixed;
    top: 50px;
    right: 20px;
    z-index: 30;
        @media screen and (min-width: 480px) {
            right:  50%;
            transform: translate(220px, 0px)
        }


    /* Должен быть выше чем у подложки*/

    /*  Побочные стили   */
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
    border-radius: 30px 0px 30px 30px;
    text-align: center;
    background-color: #fff;
    transition: $cubic all;
    overflow: hidden;
}


/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}

