


.hero {
    position: relative;

    color: $Black-text;
    min-width: 320px;
    padding-top: 60px;


    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.18;
        width: 280px;
        margin-bottom: 28px;


        // margin-right: auto;
        // margin-left: auto;
        @media screen and (min-width: $tablet) {
            width: 537px;
            font-size: 42px;
            line-height: 1.19;
            margin-bottom: 44px;
        }

        @media screen and (min-width: $desktop) {
            width: 503px;
            font-size: 48px;
            line-height: 1.21;
            margin-bottom: 28px;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 28px;
        min-width: 266px;

        @media screen and (min-width: $tablet) {
            width: 336px;
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 40px;
        }

        @media screen and (min-width: $desktop) {
            width: 502px;
            margin-bottom: 40px;
        }
    }



    &__container {
        @media screen and (min-width: $desktop) {
            display: flex;
            align-items: center;

        }
    }

    &__slider {
        position: relative;
        
        @media screen and (max-width:767px) {
            display: none;
        }

        @media screen and (min-width: $desktop) {
            margin-left: auto;
            transform: translateX(-15px);
        }

        @media screen and (max-width:1279px) {
            position: absolute;
            top: 149px;
            right: 40px;
        }

    }
}

.slider{
    
    &__img {
    border: 14px solid $Primary-yellow-main;
    border-radius: 50%;

    @media screen and (min-width: $tablet) {
        width: 292px
    }

    @media screen and (min-width: $desktop) {
        width: 528px;
        border: 26px solid $Primary-yellow-main;
    }}
&-btn{
    width: 34px;
    height: 28px;
    
    border: transparent;
    border-radius: 4px;
    background-color: $White;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    position: absolute;

    transition: box-shadow $cubic;
    
        &:hover,
        &:focus {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
        }
    @media screen and (min-width: $desktop){
    width: 48px;
    height: 40px;
    border-radius: 8px;
    transition:fill $cubic;
    
        &:hover{
            fill:$Green-text;
        }
    
    }
    
    &--prev{
        top:50%;
        left: 0;
        transform: translate(-25%,-50%);
    }
    &--next{
        top:50%;
        right: 0;
        transform: translate(25%, -50%);
    }
}
}