.hero {
    margin-left: auto;
    margin-right: auto;
    

    color: $Black-text;

    padding-top: 60px;

    @media screen and (min-width: 768px) {
      padding-bottom: 42px;
      width: 100%;
    }

    @media screen and (min-width:1280px) {
      padding-top: 14px;
      padding-bottom: 30px;
      width: 100%;
    }


    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.18;
        width: 280px;
        margin-bottom: 28px;

        @media screen and (min-width: 768px) {
            width: 537px;
            font-size: 42px;
            line-height: 1.19;
            margin-bottom: 44px;
        }

        @media screen and (min-width:1280px) {
            width: 503px;
            font-size: 48px;
            line-height: 1.21;
            margin-bottom: 28px;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 28px;
        min-width: 266px;

        @media screen and (min-width: 768px) {
            width: 336px;
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 40px;
        }

        @media screen and (min-width:1280px) {
            width: 502px;
            margin-bottom: 40px;
        }
    }

    &__btn-order {
      background-color: $Button-green;
      font-weight: 500;
      font-size: 13px;
      line-height: 1.5;
      width: 98px;
      height: 32px;
      background: $Button-green;
      border-radius: 30px;
      border: transparent;
      cursor: pointer;

      transition: background-color $cubic;
      &:hover, &:focus{
      background-color:$Button-light-green;
      }
      @media screen and (min-width: 320px) and (max-width: 767px) {
        margin-bottom: 50px;
      }

      @media screen and (min-width: 768px) {
        margin-bottom: 73px;
      }

      @media screen and (min-width:1280px) {
        margin-bottom: 3px;
      }
    }

    &__container {
        position: relative;
        @media screen and (min-width:1280px) {
            display: flex;
            align-items: center;
        }
    }

    &__slider {
        position: relative;

        @media screen and (max-width:767px) {
            display: none;
        }
    
        @media screen and (min-width: 768px) and (max-width:1279px) {
            position: absolute;
            top: 89px;
            left: 10px;
            transform: translateX(398px);
            width: 320px;
            height: 320px;
        }
    
        @media screen and (min-width:1280px) {
        margin-left: 152px;
        width: 580px;
        height: 580px;
    }

    }
    }

.slider{
    &__svg{
    width: 11px;
    height: 20px;
    @media screen and (min-width:1280px){
        width:16px;
        height:29px;
    }}

    
&-btn {
    z-index: 3;
    width: 34px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    border: transparent;
    border-radius: 4px;
    background-color: $White;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    position: absolute;

    transition: box-shadow $cubic;
    @media screen and (min-width: 768px) and (max-width: 1279px){
        &:hover,
        &:focus {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
        }}
    @media screen and (min-width:1280px){
    width: 48px;
    height: 40px;
    border-radius: 8px;
    transition:fill $cubic;

        &:hover {
            fill:$Green-text;
        }
        
        &:focus {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
        }
    }

    &--prev{
        top:50%;
        left: 0;
        transform: translate(-25%,-50%);
    }
    &--next{
        top:50%;
        right: 0;
        transform: translate(25%, -50%);
    }
}
}